<section class="video01 cid-rpSeJpsqU8" id="video001-2k">
    <div class="back"></div>

    <div class="container align-center">
        <div class="col-md-12 col-lg-12 text">
            <h2 class="mbr-section-title align-center mbr-semibold pb-4 mbr-fonts-style display-2">
                <div><span style="font-size: 2.8rem;">Aguardamos você no DevFest Brasil 2021!</span><br></div>
            </h2>
            <div class="mbr-section-btn section-btn-bottom">
                <a class="btn btn-lg btn-black display-4" href="https://www.sympla.com.br/devfest-brasil-2021__1221956"
                    target="_blank">
                    Faça a sua inscrição
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="mbr-white box col-md-12 col-12 col-lg-10">
                <div class="mbr-media show-modal align-center py-2" data-modal=".modalWindow">
                    <div class="icon-wrap">
                        <span class="mbr-iconfont mobi-mbri-play mobi-mbri"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="modalWindow" style="display: none;">
            <div class="modalWindow-container">
                <div class="modalWindow-video-container">
                    <div class="modalWindow-video">
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1"
                            data-src="https://youtu.be/bAFNTBf2kDM" loading="lazy" class="lazyload"
                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></iframe>
                    </div>
                    <a class="close" role="button" data-dismiss="modal">
                        <span aria-hidden="true" class="mbri-close mbr-iconfont closeModal"></span>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>