<div class='container'>

  <div class='image-wrapper'>
    <img src='assets/webp/devfest-links.webp' alt='Pessoa apresentado o Devfest'>
  </div>
  <div class='description-block'>
    <div class='block' *ngFor='let link of links'>
      <h2>{{ link.title }}</h2>
      <p>{{ link.description }}</p>
      <a [href]='link.link' target='_blank' rel='noopener norefereer'>
        <paper-button class='cta-button'>
          <span>{{ link.cta }}</span>
          <iron-icon icon='icons:chevron-right'></iron-icon>
        </paper-button>
      </a>
    </div>
  </div>
</div>