<ng-container>
  <header>
    <div class="member">
      <div class="photo">
        <img [src]="data.photoUrl" loading="lazy" />
      </div>
      <div class="member-description">
        <h3 class="name">{{data.name}}</h3>
        <div class='origin'>{{data.position}}</div>
      </div>
    </div>
  </header>
  
  <div class="description">
    <div class="description-wrapper">
      <div class='company'>{{data.company}}</div>
      <div class='bio'>{{data.bio}}</div>
      <div class='contacts'>
        <a target="_blank" rel="noopener noreferrer" [href]="data.facebook" [class.hide]="!data.facebook">
          <img class='icon' src='assets/svg/facebook-square-brands.svg' alt='Logo Facebook'>
        </a>
        <a target="_blank" rel="noopener noreferrer" [href]="data.instagram" [class.hide]="!data.instagram">
          <img class='icon' src='assets/svg/instagram-brands.svg' alt='Logo Instagram'>
        </a>
        <a target="_blank" rel="noopener noreferrer" [href]="data.github" [class.hide]="!data.github">
          <img class='icon' src='assets/svg/github-brands.svg' alt='Logo Instagram'>
        </a>
        <a target="_blank" rel="noopener noreferrer" [href]="data.linkedin" [class.hide]="!data.linkedin">
          <img class='icon' src='assets/svg/linkedin-in-brands.svg' alt='Logo Instagram'>
        </a>
        <a target="_blank" rel="noopener noreferrer" [href]="data.twitter" [class.hide]="!data.twitter">
          <img class='icon' src='assets/svg/twitter-brands.svg' alt='Logo Instagram'>
        </a>
      </div>
    </div>
  </div>
</ng-container>
