.map-image {
  display: none;
  background-image: url('../../../assets/img/map.jpeg');
  width: 100%;
  height: 640px;
  margin: 70px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

  @media (min-width: 640px) {
    display: block;
  }
}

.description-card {
  margin: 0 -16px;
  padding: 16px;
  background-color: var(--default-primary-color);
  color: var(--text-primary-color);

  h2, p {
    padding: 8px 14px;
  }

  @media (min-width: 640px) {
    margin: 0;
    padding: 24px;
    max-width: 320px;
    transform: translateY(-300px);
    border-radius: var(--border-radius);
  }
}