<div class="container">
    <mat-tab-group mat-align-tabs="start" selectedIndex="2">
      <mat-tab *ngFor="let date of dates" [label]="date.label">
        <div 
          class="grid"
          [class.cols-1]="date.tracks.length === 1"  
          [class.cols-2]="date.tracks.length === 2"
        >
          <div class="column" *ngFor="let track of date.tracks; let i = index">
            <span class="column__title">{{ track.name }}</span>
            <a href="#" 
              class="card track-{{i + 1}}"
              [class.hide]="!talk.speakers.length"
              *ngFor="let talk of track.schedule"
              (click)="openDialog($event, talk)"
              >
              <p>{{ talk.start | slice:0:5 }}h</p>
              <h3>{{ talk.details?.title }}</h3>
              <div class="spacer"></div>
              <div class="members" *ngFor="let speaker of talk.speakers">
                <div class="photo">
                  <img [src]="speaker.photoUrl" loading="lazy" />
                </div>
                <div class="description">
                  <h3 class="name">{{speaker.name}}</h3>
                </div>
              </div>
              <!-- <div>
                <span>{{ talk.speakerName }}</span>
                
              </div> -->
            </a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <!-- <div class="card-wrapper" *ngFor="let track of tracks">
        <div class="row">
            <div class="col-lg-2 col-md-2 align-center icon-col">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" loading="lazy" class="lazyload" data-src="assets/images/android.png">
            </div>
            <div class="col-12 col-lg-10 col-md-10">
                <div class="text-box">
                    <h4 class="mbr-title align-left mbr-fonts-style pb-2 display-5">
                        <strong>Trilha {{track.name}}</strong>
                    </h4>
                    <div class="mbr-text align-left mbr-fonts-style pb-2 display-7" *ngFor="let schedule of track.schedule">
                        <strong>{{schedule.start}} às {{schedule.end}} </strong>
                        <br>{{schedule.lectureTitle}}
                        <br>Palestrante: <strong>{{schedule.speakerName}}</strong>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>