.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.cols-1 {
  grid-template-columns: 1fr;
}

.cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  border: 1px solid var(--border-light-color);
  border-radius: 4px;
  height: 150px;
  padding: 10px;
}

.hide {
  opacity: 0;
}