<div class="container">
    <div class="card-wrapper" *ngFor="let track of tracks">
        <div class="row">
            <div class="col-lg-2 col-md-2 align-center icon-col">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" loading="lazy" class="lazyload" data-src="assets/images/android.png">
            </div>
            <div class="col-12 col-lg-10 col-md-10">
                <div class="text-box">
                    <h4 class="mbr-title align-left mbr-fonts-style pb-2 display-5">
                        <strong>Trilha {{track.name}}</strong>
                    </h4>
                    <div class="mbr-text align-left mbr-fonts-style pb-2 display-7" *ngFor="let schedule of track.schedule">
                        <strong>{{schedule.start}} às {{schedule.end}} </strong>
                        <br>{{schedule.lectureTitle}}
                        <br>Palestrante: <strong>{{schedule.speakerName}}</strong>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>