.container-fluid {
  position: relative;
  word-wrap: break-word;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  
  .col-lg-6 {
    @media (min-width: 992px) {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  
}


.video {
  margin: 50px 0;
  width: 93vw;
  max-width: var(--max-container-width);
  height: calc(93vw * 0.5625);
  max-height: calc(var(--max-container-width) * 0.5625);
}