<div class='page'>
  <div class='container hero'>
    <h2 class='container-title'>{{title}}</h2>
    <p>Aqui vocês encontra muita coisa bacana que a equipe do Devfest Brasil, patrocínadores e apoiadores prepararam
      para você.
    </p>
    <p>
      Escolha os links que lhe interessam e participe!
    </p>
  </div>

  <div class='container grid'>
    <div class='swag card'
         *ngFor='let swags of swags$ | async'>
      <div class='relative'>
        <div>
          <img class='image-wrapper' [src]='swags.imageUrl' alt='swag photo' loading='lazy' />
        </div>
        <div class='title'>
          <h3 class='name truncate'>{{swags.title}}</h3>
        </div>
        <div>
          <p>{{swags.description}}</p>
          <p><span class='m-bold'>Atividade:</span> {{swags.type}}</p>
          <p><span class='m-bold'>Oferecimento:</span> {{swags.author}}</p>
        </div>
        <div>
          <button mat-raised-button color="primary" class="cta" (click)="navigateTo(swags.link)">{{swags.cta}}</button>
        </div>
      </div>
    </div>
  </div>
</div>



