<section class="header5 industrym4_header5 cid-sBbiUZBCvz mbr-parallax-background" id="header005-6">





    <div class="back"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 block">
                <div class="content-wrapper align-left">
                    <h4 class="mbr-section-subtitle mbr-regular mbr-black pb-2 mbr-fonts-style display-4">
                        <strong>COMUNIDADE</strong> / EVENTOS
                    </h4>
                    <div class="content">

                        <h1 class="mbr-section-title mbr-semibold mbr-black pb-4 mbr-fonts-style display-1">I/O Extended
                            Brasil 2021
                        </h1>

                        <p class="mbr-text mbr-white mbr-regular mbr-black mbr-fonts-style display-5">O Google I/O
                            Extended Brasil é
                            um evento organizado pela comunidade Google Developers Group com o intuito de reunir pessoas
                            que desejam
                            conhecer um pouco mais sobre as novidades divulgadas na conferência anual do Google.
                            <br><br>Esse ano
                            nosso evento conta com 3 trilhas simultâneas com grandes palestrantes falando sobre a
                            tecnologia Android,
                            Flutter e Inteligência artificial, além de um keynote de abertura sobre Modernização de Apps
                            com o GCP.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>