<section class="header1 cid-rpSf7csNVB" id="content004-2o">


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-col align-left">
                <h3 class="mbr-section-subtitle mbr-regular pb-2 mbr-fonts-style display-7"><strong>Comunidade</strong>
                    /
                    Android Dev BR</h3>
                <h1 class="mbr-section-title mbr-semibold pb-4 mbr-fonts-style display-2">Uma comunidade brasileira para
                    troca
                    de experiências e aprendizado Android</h1>
                <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-7">Somos uma comunidade para
                    profissionais e estudantes do desenvolvimento Android. Nenhuma experiência prévia é necesssária para
                    fazer
                    parte. Nosso objetivo é levantar conteúdos e discussões relevantes dentro do própósito da
                    comunidade.<br></p>
            </div>
            <div class="col-lg-6 img-col">
                <img alt="Simple Bootstrap Best Template" title="" loading="lazy" class="lazyload"
                    src="assets/images/android-fest-ef24a501070246332686115eb85698d2-3757x1937.jpg">
                <div class="mbr-section-btn pt-3"><a class="btn btn-lg btn-info display-4"
                        href="https://androiddevbr.org/" target="_blank"><span
                            class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>ENTRE NA
                        COMUNIDADE</a></div>
            </div>
        </div>
    </div>
</section>