header {
  background-color: #F7F7F7;
}
  
.member {
  padding: 24px;
  margin: 0;
  
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (min-width: 640px) {
    margin: 0 68px;  
  }
  
  @media (min-width: 900px) {
    padding: 32px 0;
    flex-direction: row;
    justify-content: start;
  }

}

.photo {
  width: 72px;
  height: 72px;
  background-color: #e8e8e8;
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);

  @media (min-width: 640px) {
    width: 128px;
    height: 128px;
  }

  img {
    width: 72px;
    height: 72px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;

    @media (min-width: 640px) {
      width: 128px;
      height: 128px;
    }
  }
}

.member-description {
  color: var(--primary-text-color);
  padding: 24px 0 32px 0;
  display: flex;
  margin-left: 32px;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
  overflow-y: auto;

  &-wrapper {
    margin: 0 68px;
  }

  .name {
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
    text-align: center;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  .origin {
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    text-align: center;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  .bio {
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.description {
  color: var(--primary-text-color);
  padding: 24px 0 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
  overflow-y: auto;

  &-wrapper {
    margin: 20px 68px;
  }

  .company {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 20px;
  }

  .origin {
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    text-align: center;

    @media (min-width: 900px) {
      text-align: left;
    }
  }

  .bio {
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.container {
  margin-top: 50px;
}

.contacts {
  img.icon {
    outline: none;
    filter: invert(22%) sepia(56%) saturate(2547%) hue-rotate(247deg) brightness(97%) contrast(92%);
    opacity: .9;
    width: 20px;
    height: 20px;
    padding: 6px;
  }
}

.hide {
  display: none;
}