<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer 
      class="sidenav" 
      fixedInViewport 
      [autoFocus]="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>
      <a routerLink="/home" class="sidenav-logo"><img src="assets/img/logo.png" /></a>
    </mat-toolbar>
    <mat-nav-list>
      <a class="nav-item" routerLink="/home" routerLinkActive="active" (click)="closeNavbar()">Home</a>
      <a class="nav-item" routerLink="/organizacao" routerLinkActive="active" (click)="closeNavbar()">Organização</a>
      <a class="nav-item" routerLink="/palestrantes" routerLinkActive="active" (click)="closeNavbar()">Palestrantes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) === true"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="/home" class="sidenav-logo" *ngIf="(isHandset$ | async) === false"><img src="assets/img/logo.png" /></a>
      <div style="flex: 1;"></div>
      <ng-container *ngIf="(isHandset$ | async) === false">
        <a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-item" routerLink="/organizacao" routerLinkActive="active">Organização</a>
        <a class="nav-item" routerLink="/palestrantes" routerLinkActive="active">Palestrantes</a>
      </ng-container>
      <button mat-raised-button color="primary" class="cta" (click)="navigateToIndeeds()">Fazer Inscrição</button>
    </mat-toolbar>

    <ng-content></ng-content>
    
  </mat-sidenav-content>
</mat-sidenav-container>