.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 208px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-logo {
  img {
    padding-top: 15px;
    width: 100%;
  }
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}

.mat-list-base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
  gap: 16px;
}

a {
  color: #626262;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.nav-item.active {
  color: #202020;
  
  @media (min-width: 640px) {
    margin-top: 2px;
    border-bottom: 2px solid var(--default-primary-color);
  }
}

.cta {
  margin-left: 20px;
}

.mat-raised-button {
  text-transform: uppercase;
}

.mat-icon {
  color: #626262;
}
