<section class="content2 industrym4_content2 cid-sBbresazYw" id="content002-o">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 img-col">
                <img alt="" loading="lazy" class="lazyload" src="assets/images/gdg-512x384.jpeg">
                <div class="mbr-section-btn pt-3"><a class="btn btn-lg btn-success display-4"
                        href="https://gdg.community.dev/" target="_blank"><span
                            class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>Encontre um
                        capítulo</a></div>
            </div>

            <div class="col-lg-5 title-col align-left">
                <div class="title-wrap">

                    <h2 class="mbr-section-title mbr-semibold mbr-black mbr-fonts-style display-2">Google Developers
                        Groups</h2>
                </div>
            </div>

            <div class="col-lg-7 text-col align-left">
                <p class="mbr-text mbr-black mbr-regular mbr-light mbr-fonts-style display-7">
                    Iniciativa de pessoas que querem aprender ou compartilhar seus conhecimentos sobre os produtos
                    Google.
                    <br>Grupo aberto a todas as pessoas que queiram desenvolver e aprender usando os serviços e produtos
                    Google e
                    assim se manter atualizadas no mercado de trabalho!
                </p>
            </div>
        </div>
    </div>
</section>


<section class="features5 levelm4_features5 cid-sBbngshWVt" id="features05-g">
    <div class="container">
         <div class="row align-left justify-content-center">
            <div class="col-12 col-md-12">
                <h3 class="main-title align-center pb-5 mbr-semibold mbr-black mbr-fonts-style display-2">Participe</h3>
            </div>

            <div class="card card1 p-3 col-12 col-md-6 col-lg-3" *ngFor="let community of communities">
                <div class="card-wrapper">
                    <div class="card-box">
                        <a class="card-title mbr-semibold mbr-black mbr-fonts-style display-5"
                            [href]="community.website" target="_blank">{{community.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>