<div class="container">
  <h2 class="container-title">{{title}}</h2>

  <div class="team-wrapper">
    <div class="member" *ngFor="let organizer of organizers">
      <div class="photo">
        <img [src]="organizer.photoUrl" loading="lazy" />
      </div>
      <div class="description">
        <h3 class="name truncate">{{organizer.name}}</h3>
        <p class="origin">{{organizer.gdg}}</p>
        <div class='contacts'>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.facebook" *ngIf="organizer.facebook">
            <img class='icon' src='assets/svg/facebook-square-brands.svg' alt='Logo Facebook'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.instagram" *ngIf="organizer.instagram">
            <img class='icon' src='assets/svg/instagram-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.github" *ngIf="organizer.github">
            <img class='icon' src='assets/svg/github-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.linkedin" *ngIf="organizer.linkedin">
            <img class='icon' src='assets/svg/linkedin-in-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.twitter" *ngIf="organizer.twitter">
            <img class='icon' src='assets/svg/twitter-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="organizer.site" *ngIf="organizer.site">
            <img class='icon' src='assets/svg/link-solid.svg' alt='Logo Site'>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- 
    <div class="speaker" *ngFor="let speaker of speakers">
      <div class="relative">
        <div class="photo">
          <img [src]="speaker.photoUrl" alt="speaker photo" loading="lazy" />
        </div>
        <div class="badges">
          <a target="_blank" rel="noopener noreferrer"
            *ngFor="let badge of speaker.badges" 
            [href]="badge.link" 
            class="badge"
            [class.gde-b]="badge.name === 'gde'"
            [class.google-b]="badge.name === 'google'"
          >
          </a>
        </div>
        <div class="description">
          <h3 class="name truncate">{{speaker.name}}</h3>
          <div class="origin">{{speaker.country || speaker.company}}</div>
        </div>
      </div>
    </div>

  </div>

  <a routerLink="/speakers">
    <paper-button class="cta-button">
      <span>ver todos palestrantes</span>
      <iron-icon icon="icons:chevron-right"></iron-icon>
    </paper-button>
  </a> -->
</div>