<div class="container">
  <h2 class="container-title">{{title}}</h2>

  <p>
    O DevFest Brasil é um evento organizado anualmente pelo Google Developers Group (GDG)
    para a troca de conhecimentos e fomento tecnológico das regiões.
    Desenvolvido sobre a mentoria desses grupos, o evento é considerado a maior conferência sobre tecnologias Google no
    Brasil,
    contando com 3 dias de evento e mais de 25 palestrantes das mais diversas áreas abordadas, como: Mobile, Tecnologias
    Web, UX/UI, IoT,
    Machine Learning, Análise de Dados, Carreira e Desenvolvimento Pessoal, Diversidade e Inclusão, entre outros.
  </p>

  <p>
    O evento possui enfoque a profissionais, estudiosos, desenvolvedores e pessoas ligadas à comunidade ligados à
    comunidade de tecnologia Google.
    Tudo isso com objetivo de propiciar tanto o aprendizado técnico qualificado como fornecer um ambiente de troca de
    experiências e contatos.
  </p>

  <div class="statistics-block">
    <div class="item">
      <div class="numbers">5000</div>
      <div class="label">Participantes</div>
    </div>

    <div class="item">
      <div class="numbers">3</div>
      <div class="label">Dias</div>
    </div>

    <div class="item">
      <div class="numbers">25</div>
      <div class="label">Sessões</div>
    </div>

    <div class="item">
      <div class="numbers">3</div>
      <div class="label">Trilhas</div>
    </div>
  </div>
</div>