<div class="container">
  <h2 class="container-title">{{title}}</h2>

  <p>
    GDG DevFest brasil Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Excepturi magni velit tempore? Vitae quidem cupiditate minima nam unde esse veritatis animi excepturi cum accusantium nulla, 
    explicabo, magni, dicta reprehenderit consequatur?
  </p>

  <div class="statistics-block">
    <div class="item">
      <div class="numbers">900</div>
      <div class="label">Participantes</div>
    </div>

    <div class="item">
      <div class="numbers">2</div>
      <div class="label">Dias</div>
    </div>

    <div class="item">
      <div class="numbers">25</div>
      <div class="label">Sessões</div>
    </div>

    <div class="item">
      <div class="numbers">3</div>
      <div class="label">Trilhas</div>
    </div>
  </div>
</div>
