.statistics-block {
  width: 100%;
  display: grid;
  gap: 32px 16px;
  grid-template-columns: repeat(2, 1fr);
  margin: 40px 0;

  @media (min-width: 640px) {
    gap: 32px;
  }
}

.item {
  height: 50px;
  margin-top: 30px;
}

.numbers {
  font-size: 40px;

  @media (min-width: 640px) {
    font-size: 56px;
  }

  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 64px;
    margin-top: 20px;
    background-color: var(--default-primary-color);
  }
}

.label {
  margin-top: 4px;
}