<div class="container">
    <h2 class="container-title">{{title}}</h2>
    <h4>Política de Privacidade DevFest 2021 Brasil, Organização.</h4>
    <h4> Última atualização em 12/10/2021 – contato@devfest.com.br</h4>
    <p>


        Bem-vindo ao DevFest Brasil 2021!

        Esse é o portal do nosso evento, nós o desenvolvemos para divulgar a você informações sobre o evento. Essa tem
        como finalidade explicar os usos e cuidados com seus dados pessoais coletados, consensualmente, para entregar a
        melhor experiência desta edição à você.

        Com transparência, de forma leve e fácil compreensão, esperamos conseguir explicar esse conteúdo. Eventuais
        dúvidas podem ser respondidas através de nossos canais oficiais ou pelo e-mail privacidade@devfest.com.br

    </p>

    <h3> O que coletamos?</h3>

    <p>
        Nós coletamos seus dados quando você os informa de forma voluntária ou estatisticamente, quando acessa nosso
        site, usa nossos serviços e/ou interage com a gente.
        Para cada serviço nosso, existe um perfil de uso de dados diferentes, confira:

    </p>

    <h4> @devfest.com.br - E-mail</h4>
    <p>
        Os e-mails enviados pela organização do DevFest Brasil são encaminhados, exclusivamente, para pessoas em nosso
        cadastro que forneceram consentimento para recebimento desses. Se desejar inscrever uma nova conta e/ou alterar
        uma existente, envie e-mail para privacidade@devfest.com.br com título inscrição e no corpo seu nome e e-mail.
        Senão, caso queira revogar o consentimento e não receber mais nossos e-mails, envie e-mail para
        privacidade@devfest.com.br com nome e e-mail e com o título cancelar.

    </p>

    <h4>Devfest.com.br - Site</h4>
    <p>
        Nosso site não armazena informações pessoais dos usuários e/ou faz uso de cookies. Dessa forma, sinta-se à
        vontade para navegar anonimamente e desfrutar de nosso conteúdo.
        Todavia, na página “anúncios”, as empresas patrocinadoras podem disponibilizar vagas e/ou links úteis para
        processos seletivos. Assim, você poderá ser redirecionado (se desejar) para algum desses conteúdos, que podem
        solicitar cadastros externos ao DevFest Brasil.

    </p>
    <h4>Cabine de Fotos</h4>
    <p>
        Nós oferecemos essa funcionalidade para você tirar e salvar fotos personalizadas sua, com as características do
        DevFest Brasil 2021.
        A organização do DevFest Brasil não armazena quaisquer fotos das pessoas que utilizam essa função.
    </p>
    <h4> Feira de carreiras</h4>
    <p>
        Ao longo dos três dias de evento, os patrocinadores terão 1 sala personalizada (Spatial) para cada um deles, a
        fim de divulgar sua marca, produtos e/ou vagas. Quando estiver nessa sala, informações pessoais podem ser
        solicitadas à você. Esteja ciente e à vontade para compartilhar ou recusar.

    </p>
    <h4>Mídias Sociais</h4>
    <p>
        Eventualmente, fazemos uso de “mídias sociais” para compartilhar informações do evento com você e permitimos que
        compartilhe, faça comentários e/ou marque outras páginas da web. Essas ações nas redes sociais podem registrar
        informações sobre suas atividades na internet.
        Por favor, reveja os respectivos termos de uso e políticas de privacidade desses sites para entender exatamente
        como eles usam suas informações, como optar por não receber ou excluir tais informações
    </p>
    <h4>Sympla
    </h4>
    <p>
        Quando você adquire um ingresso gratuito ou solidário para o nosso evento através da plataforma Sympla, são
        solicitados alguns dados pessoais, tais como: primeiro nome, sobrenome, e-mail, se gostaria de receber mais
        informações, de qual localidade deseja receber informações, e se aceita o termo de responsabilidade da Sympla.
        Dados esses que são essenciais para emissão de certificados e prestação de nossos serviços
        Entretanto, esses dados não são veiculados diretamente à nossa organização, nós apenas podemos visualizar e
        consultar aqueles que estão devidamente inscritos em nosso evento. Qualquer necessidade de alteração e/ou
        exclusão, por favor solicite diretamente ao Sympla.

    </p>


    <h3>Por que usamos seus dados:</h3>
    <p>
        Para um melhor atendimento e prestação dos serviços do DevFest Brasil, usamos os dados para nos comunicarmos com
        vocês e gerar os certificados do evento. Além disso, coletamos o valor dos ingressos solidários para converter
        em doações à instituições beneficentes.
    </p>


    <h3>Como exercer os direitos:</h3>

    <p>De acordo com a LGPD, o titular dos dados pode exercer seus direitos mediante solicitação à organização do
        DevFest Brasil 2021, entrando em contato via e-mail (privacidade@devfest.com.br). Reforçamos que alguns serviços
        como “Sympla” e “Mídias Sociais” nós não temos acesso à informação para alterá-las ou excluí-las, cabendo ao
        usuário entrar em contato direto com as respectivas prestadoras, conforme descrito na seção “O que coletamos?”.
    </p>
    <h3>Quais são seus direitos:</h3>
    <p>Nada substitui a Lei Geral de Proteção de Dados 13.709/2018, mas para deixá-la de forma mais clara, redigimos
        esse texto para explicar quais direitos que você tem:


    <ul>
        <li>Acesso e confirmação de uso:</li>
        <ul>
            <li>Você tem o direito de confirmar a existência de uso dos seus dados pessoais e também de pedir acesso e
                cópia desses dados;</li>
        </ul>
        <li>Correção:</li>
        <ul>
            <li>Você tem o direito de pedir a correção, atualização ou complementação dos seus dados pessoais;</li>
        </ul>
        <li>Eliminação:</li>
        <ul>
            <li>Você tem o direito de pedir a exclusão dos seus dados pessoais, exceto se existir outra hipótese legal
                que impeça a exclusão ou que torne necessária a continuidade do tratamento desses dados;</li>
        </ul>
        <li>Anonimização:</li>
        <ul>
            <li>Você pode pedir que seus dados pessoais tratados se tornem anônimos, solicitando o bloqueio ou a
                eliminação das informações consideradas desnecessárias ou excessivas, para a prestação dos nossos
                serviços, ou se o uso dos dados estiver em desacordo com a legislação. Exceto, se outra hipótese legal
                impedir a anonimização, bloqueio ou eliminação desses dados ou tornar necessária a continuidade do seu
                tratamento.
            </li>
        </ul>
        <li>Consentimento:</li>
        <ul>
            <li>Você também pode fornecer e revogar, a qualquer momento, o consentimento dado antes à DevFest Brasil,
                além de pedir informações sobre a possibilidade de não fornecer consentimento e quais as eventuais
                consequências dessa negativa.

        </ul>
    </ul>

    <br />



    <h3>Segurança das informações:</h3>
    <p>
        Temos o compromisso de garantir a segurança e a manutenção da proteção dos seus dados pessoais armazenados
        contra acessos não autorizados e situações acidentais ou ilícitas, de acordo com as legislações.
        Nossa organização têm o compromisso de zelar pela segurança dos seus dados pessoais e de respeitar nossa
        Política de Privacidade, sob pena de sofrermos sanção disciplinar em caso de violação dessas normas.
        Esperamos que você também contribua com a segurança, mantendo seus dados pessoais seguros.
        Conheça melhor a Lei:
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank"> Lei
            13.709/2018 – Lei Geral de Proteção de Dados Pessoais</a>

    </p>
</div>