<br />
<div class="container">
    <h2 class="container-title">{{title}}</h2>
    <h4>Política de Privacidade DevFest 2021 Brasil, Organização.</h4>
    <h4> Última atualização em 12/10/2021 – contato@devfest.com.br</h4>
    <p>


        Bem vindo ao DevFest 2021 Brasil!
        Esse é o portal do nosso evento, nós o desenvolvemos para divulgar a você informações sobre o DevFest. Assim
        como essa página, tem como finalidade explicar os usos e cuidados com seus dados pessoais coletados
        consensualmente, para entregar a melhor experiência dessa edição à você.
        Com transparência, de forma leve e fácil compreensão, esperamos conseguir explicar esse conteúdo. Eventuais
        dúvidas podem ser respondidas através de nossos canais oficiais ou pelo e-mail contato@devfest.com.br

    </p>

    <h3> Vamos começar?</h3>

    <p>
        Sympla:
        Quando você efetua a compra de um ingresso gratuito ou solidário para o nosso evento através da plataforma
        Sympla, são solicitados alguns dados pessoais, tais como: primeiro nome, sobrenome, email, gostaria de receber
        informações, de qual local deseja informações, termo de responsabilidade.
        Esses dados não são veiculados à nós, assim temos acesso apenas a
        E-mail:
        Ao ser
        Cookies:
        Esses dados não são veiculados à nós, assim temos acesso apenas a
    </p>

    <h3> O que coletamos:</h3>
    <p>
        Coletamos seus dados quando você os informa de forma voluntária. Mas também automaticamente, quando
        acessa nossos sites, usa nossos serviços ou interage com a gente.
        Coletamos dados como nome, e-mail, endereço, gênero, nacionalidade, números de telefone, dados
        financeiros e documentos para ativação de conta na plataforma, dados esses que são essenciais para emissão de
        certificados e prestação de nossos serviços.
        Além dessas informações, dados de atendimento, estatísticos, de consumo de conteúdos e treinamentos e a
        forma como você usa o nosso site e serviços.
    </p>
    <h3>Por que usamos seus dados:</h3>
    <p>
        Na maioria das vezes, para poder prestar os serviços que você contratou. Mas também para melhorar
        constantemente
        a qualidade de nossos produtos e serviços, prevenir fraudes, criar ofertas de acordo com o seu perfil e
        aperfeiçoar a sua experiência quando usa o nossos serviços.


    <h3>Como exercer os direitos:</h3>

    <p>De acordo com a LGPD, o titular dos dados pode exercer seus direitos mediante solicitação à UpInside
        Treinamentos entrando em contato via e-mail. Para maior entendimento, seus direitos e seus detalhamentos
        estão listados no site planalto.gov.br sobre a LGPD.
        Para exercer seus direitos envie um e-mail para contato@upinside.com.br

    </p>
    <h3>Quais são seus direitos:</h3>
    <p>Você tem diversos direitos sobre seus dados pessoais de acordo com a lei geral de proteção de dados,nada
        substitui a lei, mas para deixar de forma mas clara, eles falam sobre os seguintes itens:

    <ul>
        <li>Acesso e confirmação de uso:</li>
        <ul>
            <li>Você tem o direito de confirmar a existência de uso dos seus dados pessoais e também de pedir acesso e
                cópia desses dados;</li>
        </ul>
        <li>Correção:</li>
        <ul>
            <li>Você tem o direito de pedir a correção, atualização ou complementação dos seus dados pessoais;</li>
        </ul>
        <li>Eliminação:</li>
        <ul>
            <li>Você tem o direito de pedir a exclusão dos seus dados pessoais, exceto se existir outra hipótese legal
                que impeça a exclusão ou que torne necessária a continuidade do tratamento desses dados;</li>
        </ul>
        <li>Anonimização:</li>
        <ul>
            <li>Você pode pedir que seus dados pessoais tratados se tornem anônimos, solicitando o bloqueio ou a
                eliminação das informações consideradas desnecessárias ou excessivas para a prestação dos nossos
                serviços.
                Ou se o uso estiver em desacordo com a legislação, exceto se outra hipótese legal impedir a
                anonimização, bloqueio ou eliminação desses dados ou tornar necessária a continuidade do seu tratamento.
            </li>
        </ul>
        <li>Consentimento:</li>
        <ul>
            <li>Você também pode fornecer e revogar, a qualquer momento, o consentimento dado antes à UpInside
                Treinamentos,
                além de pedir informações sobre a possibilidade de não fornecer consentimento e sobre as eventuais
                consequências dessa sua negativa.

        </ul>
    </ul>

    <br />

    <h3>Uso de cookies:</h3>
    <p>Para fornecer um serviço mais personalizado e ágil, precisamos lembrar e armazenar informações
        sobre
        como você usa os nossos sites. Isso é feito por meio de pequenos arquivos de textos chamados de
        cookies.
        Sempre que você usar os nossos portais, as informações podem ser coletadas por meio do uso de
        cookies e
        outras tecnologias. </p>


    <p>

        Ao utilizar nossos portais, você concorda com o nosso uso de cookies, assim como o uso de cookies nos
        sites
        globais, regionais e de países e práticas específicas.

        Quais cookies nós usamos e porquê?
        Alguns cookies que usamos são necessários para que você possa navegar pelo site e usar recursos, como o
        acesso
        às áreas seguras que podem conter conteúdos para usuários registrados.
        Nós também usamos cookies funcionais para registrar informações sobre as escolhas que você fez, como
        idioma ou
        região; entender se o nosso conteúdo é efetivo e relevante para você; entregar conteúdos publicitários
        de acordo
        com seu interesse, entre outros.
        Além disso, usamos web beacons ou rastreamento de pixels para contar o número de visitantes, e cookies
        de
        desempenho para controlar quantos usuários e quantas vezes as pessoas acessam nossos sites.
        Botões de mídias sociais:
        Usamos “botões sociais” para permitir que você compartilhe ou marque páginas da web. São botões de sites
        de
        redes sociais que podem registrar informações sobre suas atividades na internet.
        Por favor, reveja os respectivos termos de uso e políticas de privacidade desses sites para entender
        exatamente
        como eles usam suas informações, como optar por não receber ou excluir tais informações.
        Controles do navegador:
        A maioria dos navegadores permite que você veja os seus cookies, apague ou os bloqueie de um site
        específico ou
        de todos os sites. Qualquer preferência que você definir será perdida se você excluir todos os cookies,
        incluindo sua preferência de optar por não ter os cookies.
        A qualquer momento, você poderá apagar os cookies das nossas páginas usando as configurações de seu
        navegador de
        preferência.
    </p>
    <h3>Segurança das informações:</h3>
    <p>
        Temos o compromisso de garantir a segurança e a manutenção da proteção dos seus dados pessoais
        armazenados contra acessos não autorizados e situações acidentais ou ilícitas, de acordo com as
        legislações.
        Nossos colaboradores têm o compromisso de zelar pela segurança dos seus dados pessoais e de
        respeitar
        nossa Política de Privacidade, sob pena de sofrerem sanção disciplinar em caso de violação dessas
        normas.
        Esperamos que você também contribua com a segurança, mantendo seus dados pessoais seguros. Ao se
        cadastrar nasnossas plataformas, escolha uma senha forte o suficiente para evitar que outras pessoas
        a
        adivinhem, além de nunca revelar ou compartilhar a sua senha com outras pessoas.
        Conheça melhor a Lei:
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm" target="_blank"> Lei
            13.709/2018 – Lei Geral de Proteção de Dados Pessoais</a>

    </p>
</div>