<div class="container video-wrapper" *ngFor="let track of tracks" [class.hide]="!isSelectedTrack(track)">
    <dfb-video-track-section [track]="track"></dfb-video-track-section>
    <div class="chat">
      <!-- iframe -->
    </div>
</div> 
<div class="featured">
    <h3>Trilhas</h3>
    <h4>Escolha para assistir</h4>
    <div class="container tracks">
        <a href="#" class="track" *ngFor="let track of tracks; let i = index" (click)="selectTrack($event, track)">
          <img class="track-image" src="assets/svg/facebook-square-brands.svg" alt="Imagem da trilha" [src]="'../../assets/img/' + track.name?.replace('ô', 'o') + '.jpeg'" />
          <div class="track-image-overlay">
              <p>Trilha {{ i + 1 }}<br /><strong>{{ track.name }}</strong></p>
              <p class="footer">Clique para assistir</p>
          </div>
        </a>
    </div>
</div>
