  <div class="container"  *ngFor="let track of tracks"  [class.hide]="!isSelectedTrack(track)">
      <!-- title -->
      <dfb-video-section [track]="track"></dfb-video-section>
  </div>
  <div class="mbr-section-head mb-5">
      <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-2 display-7"><strong>Escolha para assistir</strong></h5>
      <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Trilhas</strong></h4>
  </div>
 
  <div class="featured">
      <div class="container tracks">
          <a href="#" class="track" *ngFor="let track of tracks; let i = index" (click)="selectTrack($event, track)">
            <img class="track-image" src="assets/svg/facebook-square-brands.svg" alt="Imagem da trilha" [src]="'../../assets/img/' + track.name?.replace('ô', 'o') + '.jpeg'" />
            <div class="track-image-overlay">
                <p>Trilha {{ i + 1 }}<br /><strong>{{ track.name }}</strong></p>
                <p class="footer">Clique para assistir</p>
            </div>
          </a>
      </div>
  </div>
