<div class="photos-grid">
  <img class="grid-item" *ngFor="let image of images" src="/assets/img/{{image}}" />

  <div class="gallery-info">
    <h2>#devfest2020 highlights</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis accusamus minima consequuntur dolores atque sunt doloremque at, animi officia quis, ut officiis reiciendis enim, doloribus dicta tenetur quae unde obcaecati.</p>
    <a href="https://goo.gl/photos/H8s3CtPexCzkLqSt9" target="_blank" rel="noopener noreferrer">
      <paper-button class="cta-button">
        <span>SEE ALL PHOTOS</span>
        <iron-icon icon="icons:chevron-right"></iron-icon>
      </paper-button>
    </a>
  </div>
</div>