<div class="container">

  <div class="photos-grid">
    <img class="grid-item" *ngFor="let image of galeryImages" src="{{image.url}}" />

    <div class="gallery-info">
      <h2>#devfest2020 highlights</h2>
      <p>Já realizamos diversos eventos recheados de excelentes momentos. Veja alguns dos momentos que registramos de
        nossas palestras, workshops e happy-hours.</p>
      <!--a href="https://goo.gl/photos/H8s3CtPexCzkLqSt9" target="_blank" rel="noopener noreferrer">
            <paper-button class="cta-button">
              <span>SEE ALL PHOTOS</span>
              <iron-icon icon="icons:chevron-right"></iron-icon>
            </paper-button>
          </a-->
    </div>
  </div>
</div>