.hero {
  p {
    margin: 30px 0;
    max-width: 600px;
    font-size: 16px;
    line-height: 26px;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 80%;
  grid-gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 810px) {
    grid-template-columns: repeat(3, 1fr);
  }
  
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.speaker {
  padding: 32px 24px;
  background: var(--primary-background-color);
  text-align: center;
  transition: box-shadow var(--animation);
}

.card {
  background-color: var(--default-background-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: box-shadow var(--animation);
  // cursor: pointer;
}


.photo {
  width: 72px;
  height: 72px;
  background-color: var(--accent-color);
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(0);
  margin: 0 auto;

  @media (min-width: 640px) {
    width: 128px;
    height: 128px;
  }

  img {
    width: 72px;
    height: 72px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;

    @media (min-width: 640px) {
      width: 128px;
      height: 128px;
    }
  }

}

.badges {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 0;
  left: calc(50% + 24px);

  @media (min-width: 640px) {
    left: calc(50% + 32px);
  }
}

.badge {
  margin-left: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: transform var(--animation);
  transform: translate(30%, 0%);

  @media (min-width: 640px) {
    width: 24px;
    height: 24px;
    margin-left: -10px;
  }

  @media (min-width: 812px) {
    transform: translate(10%, 0%);
  }

  &:nth-of-type(2) {
    transform: translate(20%, 100%);

    @media (min-width: 640px) {
      transform: translate(15%, 90%);
    }

    @media (min-width: 812px) {
      transform: translate(15%, 80%);
    }
  }

  &.gde-b {
    background-color: var(--gdg);
    background-image: url('../../../assets/img/gde.png');
    background-position: center;
    background-size: 150%;
  }

  &.google-b {
    background-color: var(--secondary-background-color);
    background-image: url('../../../assets/img/google.png');
    background-position: center;
    background-size: 150%;
  }

  .badge-icon {
    color: lightgreen;
    width: 16px;
  }
}

.company-logo {
  width: 100%;
  height: 16px;
  margin: 0 auto;
  
  img {
    margin-top: 10px;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.description {
  color: var(--primary-text-color);

  p {
    margin-top: 16px;
  }

  .name {
      margin-top: 20px;
      line-height: 1.1;

      @media (min-width: 640px) {
          font-size: 24px;
      }
  }

  .origin {
    margin-top: 4px;
    font-size: 14px;
    line-height: 1.1;
  }
}