<div class='page'>
  <div class='container hero'>
    <h2 class='container-title'>{{title}}</h2>
    <p>Ouça os Googlers, Parceiros e Palestrantes Convidados que estão construindo o futuro da nuvem. Verifique sempre
      que adicionarmos mais palestrantes, incluindo nossos clientes e parceiros.
    </p>
  </div>

  <div class='container grid'>
    <div class='speaker card'
         *ngFor='let speaker of speakers$ | async'
         (click)='openSpeakerDialog(speaker)'
    >
      <div class='relative'>
        <div class='photo'>
          <img [src]='speaker.photoUrl' alt='speaker photo' loading='lazy' />
        </div>
        <div class='badges'>
          <a target='_blank' rel='noopener noreferrer'
             title='Google Developer Expert'
             *ngIf='speaker.gde'
             href='https://developers.google.com/community/experts/directory'
             class='badge gde-b'
          ></a>
          <a
            *ngIf='speaker.googler'
            title='Googler'
            href='#'
            (click)='false'
            class='badge google-b'
          ></a>
        </div>
        <div class='description'>
          <h3 class='name truncate'>{{speaker.name}}</h3>
          <div class='origin'>
            {{speaker.position ? speaker.position : 'Working'}} 
            @ {{speaker.company ? speaker.company : 'Some Company'}}</div>
          <p>{{speaker.bio}}</p>
        </div>
        <div class='contacts'>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.facebook" *ngIf="speaker.facebook">
            <img class='icon' src='assets/svg/facebook-square-brands.svg' alt='Logo Facebook'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.instagram" *ngIf="speaker.instagram">
            <img class='icon' src='assets/svg/instagram-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.github" *ngIf="speaker.github">
            <img class='icon' src='assets/svg/github-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.linkedin" *ngIf="speaker.linkedin">
            <img class='icon' src='assets/svg/linkedin-in-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.twitter" *ngIf="speaker.twitter">
            <img class='icon' src='assets/svg/twitter-brands.svg' alt='Logo Instagram'>
          </a>
          <a target="_blank" rel="noopener noreferrer" [href]="speaker.site" *ngIf="speaker.site">
            <img class='icon' src='assets/svg/link-solid.svg' alt='Logo Site'>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



