.container {
  @media (min-width: 640px) {
    margin-top: -260px;
  }
}

.sponsor-wrapper {
    margin: 28px auto;
    display: grid;
    width: 100%;
    max-height: 750px;
    grid-template-columns: 500px;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-content: center;

    @media (min-width: 640px) {
      grid-template-columns: repeat(5, 1fr);
    }

    .sponsor-item {
        height: 84px;
        width: 35%;
        margin: 0 auto;

        @media (min-width: 640px) {
          width: 100%;
        }
    }

    .sponsor-image {
        width: 100%;
        background-size: contain; 
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align: middle;
        padding: 34px 0;
    }
}
