.footer {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  color: var(--footer-text-color);
  background: var(--footer-background-color);
  font-size: 14px;
  line-height: 1.5;
  @media (min-width: 640px) {
    flex-direction: row;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
  }
}

.icon {
  width: 40px;
  filter: invert(22%) sepia(56%) saturate(2547%) hue-rotate(247deg) brightness(97%) contrast(92%);
  @media (min-width: 640px) {
    width: 30px;
  }
  @media (min-width: 1024px) {
    width: 20px;
  }
}
